html{
  margin: 0;
}
body{
background:#000000;
  margin: 0;
}
nav{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  display: flex;
  justify-content:space-between;
  align-items:baseline;
  font-family: 'Lato', sans-serif;
  font-size: 170%;
  padding:0.3em 0.4em 0 0.4em;
  background:linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

nav, nav a{
  color:#ebebe3;
}
nav a{
  text-decoration: none;
}

.socialLinks a{
  padding: 0 0.3em 0 0;
}

.dropLinks{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
}

.dropLinks a{
    font-size: 70%;
    padding: 0.3em 1em 1em 0;
}

.show{
  display: none;
}

/********Nav End *************/
.intro{
  height: 100vh;
  overflow: hidden;
  background:url("black-ii.jpg") no-repeat center center fixed;
  background-size: cover;
}

.hello, .name{
  color:#ebebe3;
  position: absolute;
  bottom: 0.5em;
  font-family: 'Merriweather', serif;
  font-size: 250%;
}
.hello{
  bottom: 3em;
}
.title{
  font-family: 'Lato', sans-serif;
  font-size: 50%;
}

.hello h1, .name h1, .name p{
  margin: 0.2em;
}
/****************Me Ends***************/
.about{
  height: 100vh;
  overflow: hidden;
  background:url("white-i.jpg") no-repeat center center fixed;
  background-size: cover;
}

.aboutText{
  font-family: 'Lato', sans-serif;
  width: 85%;
  margin: auto;
}

/*************About End********/

.projects{
  margin: 2em 0em 2em 0em;
}

.proj{
  margin: 3em auto;
}
.projAbout{
color:#ebebe3;
width: 90%;
margin: 0 auto;
}

.projAbout h3{
  font-family: 'Merriweather', serif;
}

.projAbout p{
  font-family: 'Lato', sans-serif;
}

.projImg{
  width: 90%;
  margin: 1em auto;
}
.projImg img{
  width: 100%;
}

.projButtons{
  width: 90%;
  margin:0 auto;
}

.projButtons button{
  font-size: 100%;
  margin: 0 0.5em 0 0;
}

.projButtons button i{
  padding: 0 0.3em;
}

footer p {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  font-size: 90%;
}

.projButtons button{
  font-family: 'Merriweather', serif;
}

 @media only screen and (min-width: 768px) {
#hamburger{
  display: none;
}
.show{
  display: flex;
}
.dropLinks{
  flex-direction: row;
}

.dropLinks a{
  padding: 0em 0em 0em 3em;
}

nav{
  padding:0.4em 0.8em 0.4em 0.8em;
  font-size: 190%;
}
/********Nav End *************/

.name{
  width: max-content;
  font-size: 270%;
  bottom: 40%;
  /* left: 60%; */
  right: 4%;
}

.hello{
  font-size: 270%;
  bottom: 42%;
  left: 4%;
}

/****************Me Ends***************/

.aboutText{
  width: 45%;
  margin-left: 5%;
}
/************About Ends************/
.projects{
  width: 90%;
  margin: 0 auto;
}
.proj{
  display: flex;
  flex-wrap: wrap;
}
.projImg{
  margin-right: 2em;
  width: 50%;
}
.projAbout{
  margin-right: 2em;
  width: 40%;
}
.projButtons{
  width: 40%;
  margin: -5em 0 0 0;

}


}


@media only screen and (min-width: 1024px) {
  .dropLinks a{
    padding-left: 4em;
  }

  .socialLinks a{
    padding: 0 0.8em 0 0;
  }

  nav{
    padding-left: 1.5em;
    padding-right: 1.8em;
    font-size: 210%;
  }
  /********Nav End *************/

  .name{
    font-size: 290%;
    bottom: 40%;
    right: 6%;
    /* left: 70%; */
  }

  .hello{
    font-size: 290%;
    bottom: 42%;
    left: 6%;
  }
/****************About Ends ******************/
.projects{
  width: 65%;
}
}
