html{
  margin: 0;
  /* -webkit-transform: translate3d(0,0,0); */
}
body{
background:#000000;
  margin: 0;
}
nav{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  display: flex;
  justify-content:space-between;
  align-items:baseline;
  font-family: 'Lato', sans-serif;
  font-size: 170%;
  padding:0.1em 0.4em 0 0.4em;
  background:linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

nav, nav a{
  color:#ebebe3;
}
nav a{
  text-decoration: none;
}

.socialLinks a{
  padding: 0 0.3em 0 0;
}
a{
  -webkit-tap-highlight-color: transparent;
}
.dropLinks{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
}

.dropLinks a{
    font-size: 70%;
    padding: 0.3em 1em 1em 0;
}

.show{
  display: none;
}

/********Nav End *************/
.intro{
  height: 100vh;
  overflow: hidden;
  background:url("moi-trans-i.png") no-repeat 30% 30% fixed;
  background-size: cover;
  -webkit-transform: translate3d(0,0,0); 
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.hello, .name{
  color:#ebebe3;
  position: absolute;
  bottom: 0.5em;
  font-family: 'Merriweather', serif;
  font-size: 250%;
}
.hello{
  bottom: 3em;
}
.title{
  font-family: 'Lato', sans-serif;
  font-size: 50%;
}

.hello h1, .name h1, .name p{
  margin: 0.2em;
}
/****************Me Ends***************/
.about{
  /* height: 100vh; */
  background: #ffffff;
  /* overflow: hidden;
  background:url("moi-about-ii.jpg") no-repeat 50% 40% fixed;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-transform: translate3d(0,0,0); 
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; */
}

.aboutText{
  font-family: 'Lato', sans-serif;
  font-size: 150%;
  /* background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  color: #ffffff; */
  
  line-height: 1.4;
  width: 90%;
  margin: 1em auto;
  padding: 0.1em 0.4em;
  border-radius: 15px 50px;
}

.aboutText h1{
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}

.aboutText span{
  font-weight: 800;
  font-size: 110%;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}

/*************About End********/

.projects{
  margin: 2em 0em 2em 0em;
}

.proj{
  margin: 3em auto;
}


.projAbout{
color:#ebebe3;
width: 90%;
margin: 0 auto;
}

.projAbout h3{
  font-family: 'Merriweather', serif;
  font-size: 150%;
}

.projAbout p{
  font-family: 'Lato', sans-serif;
  font-size: 110%;
  line-height: 1.4;
}

.projImg{
  width: 90%;
  overflow: hidden;
  margin: 1em auto;
}
.projImg img{
  width: 100%;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.projImg:hover img{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
}


.deskBut .projButtons{
  display: none;
}
.projButtons{
  width: 90%;
  margin:0 auto;
}

.projButtons button, .viewMore{
  font-family: 'Merriweather', serif;
  font-size:110%;
  margin: 0 0.5em 0 0;
  color: #ffffff;
  background: transparent;
  border: 2px solid #455d7a;
  border-radius: 6px;
  /* Button color options: 5c848e  7e97a6  474a56 455d7a*/
}

.viewMore{
  display: block;
  margin: 0 auto;
}

.projButtons button i{
  padding: 0 0.3em;
}

hr{
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 1px;
  width: 5em;
  margin: 0 auto;
}

footer p {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  font-size: 90%;
}
/*********Animations ****************/
.hoverAnime,.navAnime{
  background-position: center;
  transition:all 0.8s ease;
}

.hoverAnime:hover{
  /* background: #455d7a; */
  background: #455d7a radial-gradient(circle, transparent 1%, #455d7a 1%) center/15000%;
}

.navAnime:hover{
  color:#420C3B;
  /* color: #420C3B radial-gradient(circle, transparent 1%, #420C3B 1%) center/15000%; */
}

.hoverAnime:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition:  0s;
}

.navAnime:active{
  color: #6eb9f7;
  /* background-size: 100%;
  transition:  0s; */
}

 @media only screen and (min-width: 768px) {
#hamburger{
  display: none;
}
.show{
  display: flex;
}
.dropLinks{
  flex-direction: row;
}

.dropLinks a{
  padding: 0em 0em 0em 3em;
}

nav{
  padding:0.1em 0.8em 0.1em 0.8em;
  font-size: 190%;
}
/********Nav End *************/

.name{
  width: max-content;
  font-size: 300%;
  top: 50%;
  /* left: 60%; */
  right: 2%;
}

.hello{
  font-size: 300%;
  top: 50%;
  left: 2%;
}

/****************Me Ends***************/
.about{
  /* height: 100vh; */
  /* justify-content: flex-start;
  align-items: flex-end; */
  justify-content: center;
  align-items: center;
}
.aboutText{
  width: 90%;
  margin:2em 0em 2em 1em;
  font-size: 170%;
}

.aboutText h1{
  font-size: 200%;
}
/************About Ends************/
.projects{
  width: 90%;
  margin: 0 auto;
}
 .proj{
  display: flex;
  justify-content: space-around;
  justify-content: center;
}

.mobBut .projButtons{
  display: none;
}

.deskBut .projButtons{
  display: block;
}

.mobBut , .deskBut{
  width: 45%;
}

.projImg, .projImg img{
  width: 100%;
}

}


@media only screen and (min-width: 1024px) {
  .dropLinks a{
    padding-left: 4em;
  }

  .socialLinks a{
    padding: 0 0.8em 0 0;
  }

  nav{
    padding-left: 1.5em;
    padding-right: 1.8em;
    font-size: 210%;
  }
  /********Nav End *************/

  .name{
    font-size: 320%;
    /* bottom: 40%; */
    right: 4%;
    /* left: 70%; */
  }

  .hello{
    font-size: 320%;
    /* bottom: 42%; */
    left: 4%;
  }

  .aboutText{
    width: 55%;
    /* margin:7em 0em 0em 2em; */
  }
/****************About Ends ******************/
.projects{
  width: 65%;
}
}

@media only screen and (min-width: 1440px){
  .projects{
    width: 50%;
  }

  .aboutText{
    width: 45%;
    /* margin:7em 0em 0em 2em; */
  }
}

@media only screen and (min-width: 2560px){
  .projects{
    width: 40%;
  }
}
