html{
    margin: 0;
}

body{
    margin: 0;
    background: #fadcda;
    color: #222f4e;
    font-family: 'Roboto Slab', serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em;
}
nav a {
    text-decoration: none;
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    padding: 0em 0.5em;
    color: #282c83;
}
.avatar{
    width: 20%;
}

.avatar img{
    max-width: 100%;
}

.intro{
    color: #282c83;
    width: fit-content;
    margin: 0 auto;
    padding: 1.5em 0em 2em 0em;
    text-align: center; 
}

.intro h1{
    font-size: 400%;
    font-family: 'Dawning of a New Day', cursive;
    margin: 0;
}

.intro p{
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
}

.introImage{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

}

.introImage img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
#second{
    background: #fefdfd;
    padding: 3em 0em;
}
.avatarSec, .skillImg{
    width: 40%;
    margin: 0 auto;
}
.avatarSec img, .skillImg img{
    display: block;
    max-width: 100%;
    margin: 0 auto;

}

.secIntro,.skillText{
    width: 90%;
    margin: 0 auto;
    text-align: center; 
}

 h2{
    color: #282c83;
    font-family: 'Roboto', sans-serif;
    /* font-size: 150%; */
}

h3{
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}

.middleh2{
    text-align: center;
    font-size: 250%;
    padding: 1em 0em;
}

#second p{
    font-size: 120%;
    line-height: 1.6;
}

.email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    font-size: 140%;
    margin: 2em auto 0em auto;
    padding: 0.6em 0.4em;
    text-decoration: none;
    background: #69b9a5;
    color: #222f4e;
}

footer {
    padding: 3em 1em;
}

.socialLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0em 0em 2em 0em;
}

.socialLinks a {
    font-size: 180%;
    color: #222f4e;
}

footer p {
    text-align: center;
}
/* .email span{
    padding: 0em 1em;
} */

@media only screen and (min-width: 768px) {
    .avatar{
        width: 10%;
    }

    .avatarSec, .skillImg {
        width: 22%;
    }

    .secIntro, .skillText {
        width: 60%;
    }

    .email {
        justify-content: space-evenly;
        width: 60%;
    }

    .socialLinks {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    nav a{
        padding: 0em 1em;
    }
    .avatar{
        width: 8%;
    }
    .intro h1 {
        font-size: 500%;
    }
    .intro p {
        font-size: 140%;
}
.introImage{
    width: 75%;
}
.avatarSec, .skillImg {
    width: 15%;
}
.secIntro, .skillText {
    width: 40%;
}

.skillImg, .skillText{
    margin: 0;
}

.skillText{
    text-align: left;
}
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillImg {
    padding: 0em 5em;
}

.reverse{
    flex-direction: row-reverse;
}

.skills:last-child {
    display: block;
}
.skills:last-child .skillText {
    text-align: center;
    margin: 0 auto;
}
.email {
    width: 25%;
}
.socialLinks {
    width: 40%;
}
}

@media only screen and (min-width: 1440px) {
nav{
    width: 65%;
    margin: 0 auto;
}
.avatar{
    width: 6%;
}
nav a{
    padding: 0em 1.5em;
}

.introImage{
    width: 50%;
}
#second {
    padding: 3em 10%;
}
.avatarSec, .skillImg {
    width: 12%;
}
.secIntro, .skillText {
    width: 28%;
}
.email {
    width: 20%;
}
.socialLinks {
    width: 30%;
}
}

@media only screen and (min-width: 2560px) {
    nav{
        width: 35%;
    }

    .introImage{
        width: 30%;
    }

    #second {
        padding: 3em 20%;
    }
}